

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Monserrat', sans-serif;
    background: #f3f3f3;
}

#menu a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu button{
    font-size: 18px;
    font-weight: bold;
}

.carousel-inner{
    max-height: 50rem;
}



@media (max-width:768px){
    #intro, #equipo {
        width: 90% !important;
    }
    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }
}

@media(max-width: 576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

footer {
    background: #1b2a4e;
    min-height: 100px;
}

footer p {
    color:#f3f3f3;
    text-align: center;
}

#iconos i{
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3;
}



.card {
    background-color:#E8E8E8;
}
.card-text{
    text-align: justify;
}
.card-header-bbt{
    text-align: center;
    background-color:#6CB0D0;
    font-size: 170%;
}
